/* Basic jQuery Slider essential styles */


ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden;}
li.bjqs-slide{position:absolute; }
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
/* Demo CSS - You do not need this css in your own slider */


body{
	font-family: "Open Sans", helvetica, arial;
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#container{
	max-width:620px;
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}
.extra-wrap {
	zoom:1;
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/


.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
#page1 #content .col-1 {
	width:265px;
	margin-right:54px;
}
#page1 #content .col-2 {
	width:569px;
}
#page1 #content .col-2 .col-1 {
	width:227px;
	margin-right:45px;
}
#page1 #content .col-2 .col-2 {
	width:231px;
}
#page2 #content .col-1 {
	width:265px;
	margin-right:54px;
}
#page2 #content .col-2 {
	width:569px;
}
#page5 #content .col-1 {
	width:265px;
	margin-right:54px;
}
#page5 #content .col-2 {
	width:569px;
}
/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#menucontainer {
height:24px;
background:#000;
display:block;
padding:45px 0 0 15px;
}
#menu {
position:relative;
display:block;
height:24px;
font-size:11px;
font-weight:bold;
font-family:Arial,Verdana,Helvitica,sans-serif;
}
#menu ul {
margin:0px;
padding:0;
list-style-type:none;
width:auto;
}
#menu ul li {
display:block;
float:left;
margin:0 1px 0 0;
}
#menu ul li a {
display:block;
float:left;
color:#fff;
text-decoration:none;
padding:5px 20px 0 20px;
height:19px;
background:transparent url(images/menu_bg-OFF.gif) no-repeat top left;
}
#menu ul li a:hover {
color:#fff;
background:transparent url(images/menu_bg-OVER.gif) no-repeat top right;
}
#menu ul li a.current,#menu ul li a.current:hover {
color:#000;
background:#fff;
}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */
/* line 6, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/products.css.scss */
.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/social/facebook.png") no-repeat;
}

/* line 12, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/products.css.scss */
.page-header {
  border-bottom: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}
/* line 1, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/matic23/sandeep/showroom_matic/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
body {
	background:#0a0a0a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1em;
	color:#a5a5a5;
}
html {
	min-width:1000px;
}
html, body {
	height:100%;
}
.container {
	margin:0 auto;
	position:relative;
	width:1000px;
	font-size:.875em;
}
header .container {
	height:327px;
	background-repeat:no-repeat;
	background-position:left bottom;
	background-image:url(../images/header-bg.jpg);
	position:relative;
}
section#content {
}
aside {
	background:#000;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear:both;
}
.col-1, .col-2, .col-3 {
	float:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}
fieldset {
	border:0;
}
.list {
	margin-top:-24px;
}
.list li {
	width:100%;
	overflow:hidden;
	vertical-align:top;
	line-height:1.571em;
	padding-top:24px;
}
.list li img {
	float:left;
	margin-right:17px;
}
.list li a {
	color:#a5a5a5;
	display:block;
	text-decoration:none;
}
.list li a:hover {
	color:#7526df;
}
.list li strong {
	color:#fff;
	display:block;
}
.list1 li {
	padding:0 0 6px 13px;
	height:1%;
	background:url(../images/marker.gif) no-repeat left 5px;
}
.list1 li.last {
	padding-bottom:20px;
}
.list1 li ul {
	padding-top:6px;
	margin-bottom:-6px;
}
.list2 li {
	width:100%;
	overflow:hidden;
	vertical-align:top;
	line-height:1.571em;
	padding-bottom:24px;
}
.list2 li img {
	float:left;
	margin-right:17px;
}
.list2 li a {
	color:#fff;
	text-decoration:none;
}
.list2 li a:hover {
	color:#7526df;
}
.list2 li strong {
	color:#fff;
	display:block;
}
.banners {
	width:100%;
	overflow:hidden;
}
.banners li {
	float:left;
	width:275px;
	margin-right:30px;
	line-height:1.571em;
	background:url(../images/banner-tail.gif) repeat-y left top;
}
.banners li.last {
	margin-right:0;
}
.banners li span {
	display:block;
	background:url(../images/banner-top.jpg) no-repeat left top;
}
.banners li span span {
	background:url(../images/banner-bot.gif) no-repeat left bottom;
	min-height:114px;
	height:auto !important;
	height:114px;
}
.banners li span span span {
	min-height:1px;
	height:auto !important;
	height:1px;
	background:none;
	padding:11px 15px 10px 17px;
}
.banners li img {
	float:left;
	margin-right:15px;
}
.banners li a em {
	color:#fff;
	font-style:normal;
}
.banners li strong {
	color:#7526df;
	display:block;
}
.img-box {
	width:100%;
	overflow:hidden;
	padding:0 0 15px 0;
	line-height:1.571em;
}
.img-box img {
	float:left;
	margin:0 15px 0 0;
}
.extra-wrap {
	overflow:hidden;
}
p {
	margin-bottom:15px;
	line-height:1.571em;
}
.p0 {
	margin:0;
}
address {
	font-style:normal;
	line-height:1.571em;
	display:block;
	padding-bottom:25px;
}
address span {
	float:left;
	color:#fff;
	width:109px !important;
	width:106px;
}
.title {
	margin-bottom:20px;
}
a {
	color:#fff;
	outline:none;
}
a:hover {
	text-decoration:none;
}
h1 {
	text-indent:-9999px;
}
h1 a {
	width:385px;
	height:117px;
	display:block;
	position:absolute;
	left:5px;
	top:123px;
	background:url(../images/logo.png) no-repeat left top;
}
h5 {
	font-size:1em;
	line-height:1.571em;
	color:#fff;
	font-weight:normal;
}
.box {
	width:100%;
	background:url(../images/box-tail.png);
	margin-bottom:10px;
}
.box .inner {
	padding:15px 20px 15px 20px;
}
header {
	background:url(../images/tail-top.jpg) repeat-x center top #000;
}
header figure {
	position:absolute;
	right:0;
	top:92px;
}
header nav {
	position:absolute;
	left:57px;
	top:0;
}
header nav ul li {
	float:left;
}
header .top-menu {
	position:absolute;
	right:57px;
	top:31px;
}
header .top-menu li {
	float:left;
	font-size:.857em;
	background:url(../images/divider.gif) repeat-y right top;
	padding-right:25px;
	margin-right:25px;
}
header .top-menu li.last {
	background:none;
	padding-right:0;
	margin-right:0;
}
header .top-menu li a {
	text-decoration:none;
}
header .top-menu li a:hover {
	text-decoration:underline;
}
#content {
	background:url(../images/tail-cont.jpg) repeat-x center top #050505;
}
#content .inside {
	padding:54px 50px 33px 58px;
}
.inner_copy, .inner_copy a {
	border:0;
	float:right;
	background:#000;
	color:#0ff;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-250% 0 0 0;
	overflow:hidden;
	padding:0;
}
aside .inside {
	padding:30px 0 60px 58px;
}
#search-form .rowElem {
	position:absolute;
	left:58px;
	bottom:17px;
}
#search-form .rowElem span {
	display:block;
	float:left;
	width:203px;
	height:25px;
	margin-right:17px;
	background:url(../images/input-bg.gif) no-repeat left top;
}
#search-form input {
	border:0;
	color:#000;
	margin:3px 0 0 5px;
	width:191px;
	font-size: 13px;
}
#search-form a {
	float:left;
	position:relative;
	top:7px;
}
#contacts-form .rowElem {
	height:30px;
}
#contacts-form label {
	float:left;
	color:#fff;
	width:111px;
	padding-top:4px;
}
#contacts-form span {
	display:block;
	float:left;
	width:456px;
	height:25px;
	background:url(../images/input-bg1.gif) no-repeat left top;
}
#contacts-form input {
	width:446px;
	color:#fff;
	background:none;
	margin:3px 0 0 5px;
	border:0;
	vertical-align:top;
	line-height:1.2em;
}
#contacts-form .txt_area span {
	background:url(../images/textarea-bg.gif) no-repeat left top;
	height:187px;
	margin-bottom:14px;
}
#contacts-form textarea {
	width:451px;
	height:182px;
	overflow:auto;
	background:none;
	border:0;
	color:#fff;
	padding:3px 0 2px 5px;
}
#page1 header .container {
	height:367px;
	background-image:url(../images/1page-header-bg.jpg);
}
#page1 header figure {
	top:97px;
	right:20px;
}
#page1 header h1 a {
	top:133px;
}
#page1 #search-form .rowElem {
	bottom:47px;
}
footer {
	background:url(../images/footer-tail.jpg) repeat-x center top;
	line-height:1.429em;
	font-size:12px;
}
footer .footerlink {
	margin:0 auto;
	position:relative;
	width:1000px;
	padding:14px 0 19px 0;
	font-size:.875em;
}
.footerlink p {
	margin:0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
	color:#fff;
}
.footerlink a {
	color:#fff;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footerlink a:hover {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
}
.footerlink .lf {
	float:left;
	margin-left:55px;
}
.footerlink .rf {
	float:right;
	margin-right:55px;
}
a {
	outline:none;
}
/* CSS Document */

body{padding:0px; margin:0px; background:#151515; color:#869496; font:10px/14px Tahoma, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px; height:0}

p a{font:10px/14px Tahoma, sans-serif; color:#0beef6; text-decoration:underline;}
p a:hover{ color:#fff; text-decoration:none;}

p a.a2{font:10px/14px Tahoma, sans-serif; color:#fff; text-decoration:none;}
p a.a2:hover{ color:#fff; text-decoration:underline;}

.headline{font:12px/14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; font-weight:bold}
.headline2{font:10px/14px Tahoma, Geneva, sans-serif; color:#0beef6; font-weight:bold}

#container{width:775px; position:relative; margin:0 auto; background:#2a2a2a}

/* HEADER */

#header{width:735px; height:283px;  position:relative; background:url(../images/b_header.jpg) 0 0 no-repeat; margin:0 auto}

#header img#logo{position:absolute; top:9px; left:510px}
#header img#slogan{position:absolute; top:186px; left:408px}

#header ul.menu{position:absolute; top:16px; left:8px; width:470px}
#header ul.menu li{height:17px; margin-right:13px; float:left}
#header ul.menu li a{height:17px; display:block; text-indent:-20000px; }
#header ul.menu li a:hover{height:17px;}

#header ul.menu li.btn_1 a{width:69px; background:url(../images/btn_1.gif) 0 0 no-repeat; }
#header ul.menu li.btn_1 a:hover{width:69px; background:url(../images/btn_1_over.gif) 0 0 no-repeat;}

#header ul.menu li.btn_2 a{width:61px; background:url(../images/btn_2.gif) 0 0 no-repeat; }
#header ul.menu li.btn_2 a:hover{width:61px; background:url(../images/btn_2_over.gif) 0 0 no-repeat;}

#header ul.menu li.btn_3 a{width:61px; background:url(../images/btn_3.gif) 0 0 no-repeat; }
#header ul.menu li.btn_3 a:hover{width:61px; background:url(../images/btn_3_over.gif) 0 0 no-repeat;}

#header ul.menu li.btn_4 a{width:66px; background:url(../images/btn_4.gif) 0 0 no-repeat; }
#header ul.menu li.btn_4 a:hover{width:66px; background:url(../images/btn_4_over.gif) 0 0 no-repeat;}

#header ul.menu li.btn_5{margin-right:0}
#header ul.menu li.btn_5 a{width:73px; background:url(../images/btn_5.gif) 0 0 no-repeat; }
#header ul.menu li.btn_5 a:hover{width:73px; background:url(../images/btn_5_over.gif) 0 0 no-repeat;}

#header ul.menu li.line{width:6px; background:url(../images/bullet_m.gif) 0 6px no-repeat}

/* CONTENT */

#content{width:735px; position:relative; clear:both; margin:0 auto; background:url(../images/b_content.gif) 0 0 repeat-y}

#leftPan{width:200px; float:left; margin:29px 26px 0 23px; display:inline}
#centerPan{width:230px; float:left; margin:32px 14px 0 0; }
#rightPan{width:210px; float:left; margin:32px 0 0 14px; display:inline}

#welcome{margin:0 0 25px 0;}
#welcome h2{height:23px; position:relative; background:url(../images/h_welcome.gif) 0 0 no-repeat; margin-bottom:16px}
#welcome p span{display:block; margin-bottom:5px}
#welcome p {margin-left:4px; padding-right:5px }

#news h2{height:18px; position:relative; background:url(../images/h_news.gif) 0 0 no-repeat; margin-bottom:16px}
#news p{margin-left:5px; margin-bottom:12px}
#news p span{display:block; padding-left:23px; margin-bottom:8px; background:url(../images/calendar.gif) 0 0 no-repeat; font:12px/14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; font-weight:bold }

#featured h2{height:18px; position:relative; background:url(../images/h_cars.gif) 0 0 no-repeat; margin-bottom:16px}
#featured p{margin-bottom:10px}
#featured p span.headline{display:block; margin-bottom:5px}
#featured .fcar{margin-bottom:13px}
#featured .fcar img{float:left; margin-right:13px}
#featured .fcar p{float:left; width:114px}

#services h2{height:18px; position:relative; background:url(../images/h_services.gif) 10px 0 no-repeat; margin-bottom:16px}
#services .serv_item{margin-bottom:35px;}
#services .serv_item img{float:left;}
#services .serv_item p{width:151px; float:left}

/* FOOTER */

#footer{height:65px; clear:both; width:775px; background:#151515}
#footer p{padding: 15px 0 0 0; font:10px/16px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#848484;}
#footer p a{font:10px/16px Tahoma, sans-serif; font-weight:normal; color:#848484; text-decoration:none; padding: 0 3px }
#footer p a:hover{text-decoration:none; background:#848484; color:#fff}
/*
Credit: http://www.templatemo.com
*/


body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #989898;
	background: #000000;
}

a:link, a:visited { color: #edad0f; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #edad0f; text-decoration: underline; }

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner_w10 {
	float: left;
	width: 10px;
	height: 100%;
	font-size: 1px;	
}

.cleaner_h10 {
	clear: both;
	width: 100%;
	height: 10px;
	font-size: 1px;	
}

.cleaner_h20 {
	clear: both;
	width: 100%;
	height: 20px;
	font-size: 1px;	
}

.cleaner_h30 {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_h40 {
	clear: both;
	width: 100%;
	height: 40px;
	font-size: 1px;	
}

.cleaner_w50 {
	float: left;
	width: 50px;
	height: 1px;
	font-size: 1px;	
}

.horizontal_divider_01 {
	clear: both;
	width: 100%;
	height: 2px;
	font-size: 1px;	
	background: url(images/templatemo_horizontal_divider.jpg) repeat-x;
}

.rc_btn_01 a {
	float: left;
	clear: both;
	display: block;
	width: 100px;
	height: 22px;
	padding: 4px 0 0 10px;
	background: url(images/tempatemo_button_01.jpg) no-repeat;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.rc_btn_01 a:hover {
	color: #996600;
}

#templatemo_container {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px 10px 30px;
} 

#templatemo_header {
	width: 900px;
	height: 178px;
	margin: 0px;
	padding: 0px;
	background: url(images/templatemo_banner.jpg) no-repeat;
}

#templatemo_header #website_title {
	width: 900px;
	height: 178px;
	padding: 100px 0 0 0;
	text-align: center;
}

#website_title #title {
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 15px;
}

#website_title #salgon {
	clear: both;
	font-size: 18px;
	font-weight: bold;
	color:#cccccc;
}

/* banner */
#templatemo_menu{
	float: left;
	width: 900px;
	height: 70px;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	width: 600px;
	margin: 26px 0 0 160px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_menu_divider.gif) top right repeat-y;
	color: #ffffff;
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #edad0f;
}
/* end of menu*/
/* end of banner */

/* content */

#templatemo_content_wrapper {
	clear: both;
	width: 900px;
	margin:0 auto;
	background: url(images/templatemo_content_repeat.jpg) repeat-y;	
}

#templatemo_content {
	padding: 50px 100px 0 100px;
	background: url(images/templatemo_content_top.jpg) top center no-repeat;
}

#templatemo_content img{
	float: left;
	margin: 3px 15px 5px 0;
	border: 5px solid #10100f;
}

#templatemo_content p{
	text-align: justify;
	margin-bottom: 20px;
}

#templatemo_content .content_title_01{
	color: #edad0f;
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

#templatemo_content .content_title_02{
	color: #edad0f;
	font-size: 18px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

#templatemo_content .column_02 {
	float: left;
	width: 325px;
}

#templatemo_content .news_section {
	padding-left: 30px;
	background:url(images/templatemo_icon_01.jpg) top left no-repeat;
}

#templatemo_content  .column_02 p{
	margin-bottom: 0px;
}

#templatemo_content .column_02 ul {
	margin: 20px 0 0 30px;
	padding: 0px;
}

#templatemo_content .column_02 li {
	padding: 0 0 5px 0;
}

#templatemo_content .news_title {
	font-weight: bold;
	color: #edad0f;
}

/* footer */
#templatemo_footer {
	clear: both;
	width: 900px;
	height: 35px;
	padding-top: 55px; 
	color: #eca90e;
	text-align: center;	
	background: url(images/templatemo_footer.jpg) no-repeat;
}

#templatemo_footer a{
	color: #eca90e;
	font-weight: bold;
}
/* end of footer */
.twitter-typeahead {
  width: 100%;
  position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin: 0;
  width: 100%;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.has-warning .twitter-typeahead .tt-query,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-query,
.has-error .twitter-typeahead .tt-hint {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-query,
.has-success .twitter-typeahead .tt-hint {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.twitter-typeahead .tt-query:focus,
.twitter-typeahead .tt-hint:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.has-warning .twitter-typeahead .tt-query:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.has-error .twitter-typeahead .tt-query:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-success .twitter-typeahead .tt-query:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.twitter-typeahead .tt-hint {
  color: #a1a1a1;
  z-index: 1;
  border: 1px solid transparent;
}
.input-group .twitter-typeahead .tt-query {
  z-index: 2;
}
.input-group .twitter-typeahead:first-child .tt-query,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-radius: 4px 0 0 4px !important;
}
.input-group .twitter-typeahead:last-child .tt-query,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-radius: 0 4px 4px 0 !important;
}
.input-group .twitter-typeahead .tt-query,
.input-group .twitter-typeahead .tt-hint {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-query,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-radius: 3px 0 0 3px !important;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-query,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-radius: 0 3px 3px 0 !important;
}
.input-group.input-group-sm .tt-query,
.input-group.input-group-sm .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-query,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-radius: 6px 0 0 6px !important;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-query,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-radius: 0 6px 6px 0 !important;
}
.input-group.input-group-lg .tt-query,
.input-group.input-group-lg .tt-hint {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.tt-dropdown-menu {
  width: 100%;
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/pinterest.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          80x64

*/
/* line 32, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-baidu {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px 0px no-repeat;
}

/* line 33, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-delicious {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px 0px no-repeat;
}

/* line 34, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-douban {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -16px no-repeat;
}

/* line 35, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-email {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -16px no-repeat;
}

/* line 36, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px 0px no-repeat;
}

/* line 37, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-flickr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -16px no-repeat;
}

/* line 38, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-google_bookmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -32px no-repeat;
}

/* line 39, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-google_plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -32px no-repeat;
}

/* line 40, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-kaixin001 {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -32px no-repeat;
}

/* line 41, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-pinterest {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px 0px no-repeat;
}

/* line 42, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-plurk {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -16px no-repeat;
}

/* line 43, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-qq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -32px no-repeat;
}

/* line 44, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-renren {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -48px no-repeat;
}

/* line 45, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-tqq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -48px no-repeat;
}

/* line 46, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-tumblr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -48px no-repeat;
}

/* line 47, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-twitter {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -48px no-repeat;
}

/* line 48, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-weibo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -64px 0px no-repeat;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  /* line 51, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-baidu {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 52, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-delicious {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 53, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-douban {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 54, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-email {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 55, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-facebook {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 56, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-flickr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 57, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-google_bookmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 58, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-google_plus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 59, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-kaixin001 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 60, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-pinterest {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 61, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-plurk {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 62, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-qq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 63, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-renren {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 64, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-tqq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 65, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-tumblr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 66, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-twitter {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 67, /home/matic23/.rvm/gems/ruby-2.1.4/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-weibo {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -64px 0px no-repeat;
    background-size: 80px 64px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

