<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <div class="col-xs-6">
    <h3 align="center">Products By Day</h3>
    <%#= column_chart @analytics.group_by_month(:created_at, format: "%B %d, %Y").count, discrete: true %>
    <%= column_chart Product.pluck("price").uniq.map { |c| { name: c, data: @analytics.where(price: c).group_by_day(:created_at, format: "%B %d, %Y").count }  }, discrete: true %>
  </div>