<html></html><head></head>
<title></title>
<body>
<div class="span12">                                                    
                        <div class="row">
                        <% @products.each do |product| %>
            <tr>
                <td><%= link_to image_tag(product.photo.url(:original)), product_path(product) %></td>
        </tr><% end %> </div>                                                          
                        </div>
                        <div class="row feature_box">                       
                            <div class="span4">
                                <div class="service">
                                    <div class="responsive">    
                                        <img src="../assets/images/feature_img_2.png" alt="" />
                                        <h4>MODERN <strong>DESIGN</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>                                  
                                    </div>
                                </div>
                            </div>
                            <%= will_paginate @products %>
                            <div class="span4"> 
                                <div class="service">
                                    <div class="customize">         
                                        <img src="../assets/images/feature_img_1.png" alt="" />
                                        <h4>FREE <strong>SHIPPING</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="service">
                                    <div class="support">   
                                        <img src="../assets/images/feature_img_3.png" alt="" />
                                        <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                    </div>
                                </div>
                            </div>  
                        </div>      
                    </div>              
                </div>
                </body>
                </html>