<table class="table table-striped">
  <thead>
    <tr>
      <th>Email </th>
      <th> First name</th>
      <th> Last name </th>
      <th> Product Deal</th>
    </tr>
  </thead>
  <tbody>
    <% @dealers.each do |dealer| %>
      <tr>
      	<td><%= dealer.email %></td>
        <td><%= dealer.first_name %></td>
        <td><%= dealer.last_name %></td>
        <td><%= dealer.likes.count %>
       <%#= link_to("Download Resume", dealer.resume.url(:original)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>