
	
	
	    
	
	
	
	
	
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	
		<link rel="stylesheet" type="text/css" href="/sam-ui/css/screen.css" media="all" />
		<link rel="stylesheet" type="text/css" href="/sam-ui/css/sam.css" media="all" />
		<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" media="all" />
		<![endif]-->
		
			
			
				
			
		
		
		<script type="text/javascript">
			var kruxConfigId      = "IL2HXIjT";
		</script>
		<script type="text/javascript" src="/sam-ui/js/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="/sam-ui/js/sam.js"></script>
		<script class="kxct" data-id="IL2HXIjT" data-timing="async" data-version="1.9" type="text/javascript" src="/sam-ui/js-v3/krux.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		

	<title>Terms and conditions of registration</title>
	<style type="text/css">
		
		
		ul{
			font-weight:			bold;
			padding:				0;
			padding-left:			25px;
			font-size:				13px !important;
			color:					#333333 !important;
			list-style:				none;
			margin-top:				1em;
			padding-left:			2em;
		}
		
		li{
			margin-bottom:			1em;
		}
		
		ul ul{
			font-weight:			normal;
		}
		
		.index{
			display:				block;
			width:					2em;
			height:					2em;
			margin-left:			-2em;
			margin-bottom:			-2em;
		}
		
	</style>
	

	
	
	
	
		<meta name="DCSext.Category" content="terms"/>
		
		
	
	
	
	
	<meta name="DCSext.MLC" content="/auth/terms"/>
	<meta name="DCSext.Channel" content="auth"/>
	
	<meta name="DCSext.Content_Type" content="Index" />
	<meta name="DCSext.Level" content="2" />
	
	<script src="js/WTID.js" type="text/javascript"></script>
	<script src="js/Webtrends.js" type="text/javascript"></script>
	<script src="js/webtrends.htm.js" type="text/javascript"></script>
	<script src="js/webtrendsOpenTag.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		runTracking();
	</script>
</head>
<body>
<noscript>
	<img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="https://webtrends.telegraph.co.uk/dcsshgbi400000gscd62rrg43_4o2o/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=1.0.7"/>
</noscript>
<div id="header">
	<div id="loginMessage">
		Already registered? <a href="login.htm">Log in</a>
		
		
	</div>

</div>
<div id="samBody">
	<div class="sliceTop"></div>
	<h2>TERMS AND CONDITIONS OF REGISTRATION</h2>
	<p>Welcome to the registration to Telegraph Media Group Limited's ("us", "we") website and its related services. You may access many areas of our website without registering your details with us.  Certain areas are only open to you if you register.  The terms and conditions which govern material submitted by you to us and your use of the www.telegraph.co.uk website (including all 'Telegraph' branded microsites and any email bulletins) are governed by our general "Terms and Conditions of Reading".  These Terms and Conditions of Registration are in addition to the general Terms and Conditions of Reading. </p>  
	<ul>
		<li><span class="index">1.</span> Registration
			<ul>
				<li><span class="index">1.1</span> By registering here and creating your "Telegraph.co.uk Profile", you can access different services that are offered by us without having to register for each service separately. If a service you wish to subscribe to has additional terms and conditions, you will be asked to accept these separately. </li> 
				<li><span class="index">1.2</span> You agree that:
					<ul>
						<li>
							<span class="index">(1)</span> you will keep your username and password safe, and won't share them with anyone.
						</li>
						<li>
							<span class="index">(2)</span> you will not pass yourself off as someone else or create multiple, false accounts.
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><span class="index">2.</span> Term
			<ul>
				<li><span class="index">2.1</span>	If you breach these or any of our other terms and conditions we reserve the right to close your account, if we do so, we may close all accounts you have open in your name.</li>
				<li><span class="index">2.2</span>	To deactivate your account please contact our customer services department; their details can be found under "contact us" on your Telegraph.co.uk Profile page. </li>
			</ul>
		</li> 
		<li><span class="index">3.</span> Administration
			<ul>
				<li>
					<span class="index">3.1</span> You can update your personal details (including your account and marketing preferences) by accessing your account at your Telegraph.co.uk Profile page and making any necessary changes; this will update your details across all services that you have subscribed to. 
				</li>
			</ul>
		</li> 
		<li><span class="index">4.</span> Data
			<ul>
				<li>
					<span class="index">4.1</span>	Full details of the way in which we use cookies on our website and how we hold and process your information can be found in our <a target="_blank" href="http://www.telegraph.co.uk/topics/about-us/3691972/Privacy-and-Cookie-Policy.html">Privacy and Cookie Policy</a>
				</li>
			</ul>
		</li>
		<li><span class="index">5.</span>	General
			<ul>
				<li>
					<span class="index">5.1</span>	No waiver by us of any breach of these terms shall constitute a waiver of any other prior or subsequent breach and we shall not be affected by any delay, failure or omission to enforce or express forbearance granted in respect of any of your obligations.
				</li> 
				<li>
					<span class="index">5.2</span>	The rights and remedies of is under these terms are independent, cumulative and without prejudice to its rights under the law.
				</li> 
				<li>
					<span class="index">5.3</span>	These terms are not intended to create and shall not create any rights, entitlements, claims or benefits enforceable by any third party by virtue of the Contracts (Rights of Third Parties) Act 1999.
				</li> 
				<li>
					<span class="index">5.4</span>	These terms and/or your use of the website shall be governed by and construed in accordance with English law and the English Courts shall have exclusive jurisdiction over any dispute which may arise.
				</li>
			</ul>
		</li>
	</ul>
	<div class="sliceBottom"></div>
</div>
<br/><br/>
</body>
</html>